/* Css Code For Home Page */
:root {
    --primary-color: gray;
    --secondary-color: #21252985;
    font-family: 'Noto Sans Arabic', sans-serif;
    --background-color: black;
}

body {
    padding: 0;
    margin: 0;

}

/* Header Section */
#header {
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;
    padding-block: 1%;
}

#logo img {
    width: 100px;
    height: 100px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}

#links a:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}

#tips i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#language {
    cursor: pointer;
    transition: 0.5s;
}

#language:hover {
    transform: scale(1.2);
}

#tips button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

#tips {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#tips button:hover {
    background-color: var(--primary-color);
}

#tips button i {
    margin-inline: 5px;
}

/* Landing Section */
#landing {
    background-image: url("../assets/index/landing/landing.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#landing h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: -10px -8px 5px rgba(231, 227, 227, 0.582);
    background-color: rgba(0, 0, 0, 0.402);
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.928)
}

#landing h1:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}

#landing button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 7%;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

#landing button:hover {
    background-color: var(--secondary-color);
}

/* Last Updates Section */
#section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;
}

#section-header h2 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px solid black;
}

#section-header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}

#section-header i {
    margin-inline: 5px;
}

#section-header a:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}

#updates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin-block: 1%;
}

#update {
    width: 30%;
    padding: 10px;
}

#update :hover {
    cursor: pointer;
}

#update img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#update h3 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-inline: 5px;
}

#update p {
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-inline: 5px;
    max-height: 20px;
    line-clamp: 2;
    overflow: hidden;
}

#update small strong {
    font-size: 16px;
    color: rgb(110, 175, 228);
}

/* Welcome To Project Section */
#welcome {
    background-image: url("../assets/index/welcome_to_project/welcome_frame.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-header {
    color: white;
    padding-right: 15%;
}

#welcome-header h1 {
    font-size: 40px;
    font-weight: bold;
    max-width: 60%;
    overflow-wrap: break-word;
    margin-block: 1%;
}

#welcome-header p {
    font-size: 26px;
    font-weight: 500;
    max-width: 60%;
    overflow-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
}

.video {
    width: 100%;
    padding-left: 2%;
}

.video iframe {
    width: 70%;
    height: 400px;
    border-radius: 10px;
    border: none;
}

/* Choose Your Speciality Section */
#speciality {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/index/specialist/specialist_frame.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

#right-image {
    width: 30%;
    padding-right: 10%;
}

#right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.center-content {
    width: 40%;
    padding: 10px;
    text-align: start;
}

.center-content h1 {
    font-size: 40px;
    font-weight: bold;
    overflow-wrap: break-word;
    margin-block: 1%;
    text-align: center;
}

.center-content p {
    font-size: 26px;
    font-weight: 500;
    overflow-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: start;
}

.center-content button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

#left-image {
    width: 30%;
    padding-left: 10%;
}

#left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Collaborate With Our Team Section */
#collaborate {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#collaborate-header {
    color: black;
    padding-right: 15%;
}

#collaborate-header h1 {
    font-size: 40px;
    font-weight: bold;
    max-width: 60%;
    overflow-wrap: break-word;
    margin-block: 1%;
}

#collaborate-header p {
    font-size: 26px;
    font-weight: 500;
    max-width: 60%;
    overflow-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
}

.collaborate-video {
    width: 100%;
    padding-left: 2%;
}

.collaborate-video iframe {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    border: none;
}

/* Project Space Section */
#pro-space {
    width: 100%;
    height: 85vh;
    background-image: url("../assets/index/pro-space/pro-space-frame.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
    padding-top: 2%;
}

#pro-space-header h1 {
    font-size: 48px;
    font-weight: bold;
    /* max-width: 100%; */
    overflow-wrap: break-word;
    margin-block: 2%;
    color: white;
    font-style: italic;
}

#pro-space-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
    gap: 2%;
}

#pro-space-content div {
    width: 30%;
}

#pro-space-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

#pro-space-img p {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    overflow-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
}

/* Footer Section */

#footer-gif {
    width: 100%;
    height: 600px;
    background-image: url("../assets/index/footer/footer.gif");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Noto Sans Arabic', sans-serif;
}

/* Social icons */
.footer-icons {
    margin-bottom: 15px;
}

.footer-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    /* dark grey circle */
    color: white;
    /* icon color */
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

.footer-icons a:hover {
    background-color: #40E0D0;
    /* turquoise hover */
    color: #000;
    /* optional: icon turns black on hover */
}

/* Project Name */
.footer-project {
    font-size: 1.2rem;
    font-weight: bold;
    color: #b9b8b8;
    /* gray color */
    margin: 40px 0;
}

/* Copyright */
.footer-copy {
    font-size: 0.9rem;
    margin-bottom: 12px;
    color: #b9b8b8;
    /* gray color */

}

/* Footer Links */
.footer-links {
    font-size: 0.9rem;
    margin-top: 10px;
    margin: 45px 0;

}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    /* space between links */
    transition: 0.3s;
}

.footer-links a:hover {
    text-decoration: underline;
}