/* Collaborate With Our Team Section */
#collaborate {
    width: 100%;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#collaborate-header {
    color: black;
    padding-right: 10%;
    text-align: start;
}

#collaborate-header h1 {
    font-size: 7rem;
    font-style: italic;
    font-weight: bold;
    max-width: 90%;
    overflow-wrap: wrap;
    margin-block: 1%;
}

#collaborate-header p {
    font-size: 1.5rem;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    max-width: 90%;
    overflow-wrap: wrap;
    line-height: 1.5;
    color: rgb(20, 30, 55);
}


.collaborate-video {
    margin-inline: 2%;
    width: 100%;
}

.collaborate-video iframe {
    text-align: end;
    width: 80%;
    height: 43.8vh;
    border-radius: 10px;
    border: none;
}

@media screen and (min-width: 450px) and (max-width: 850px) {
    #collaborate {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 58vh;
        overflow: hidden;
    }

    #collaborate-header {
        width: 100%;
    }

    #collaborate-header h1 {
        font-size: 4rem;
    }

    #collaborate-header p {
        font-size: 1.25rem;
        margin-block: 1%;
    }

    .collaborate-video {
        margin-block: 0%;
    }

    .collaborate-video iframe {
        text-align: center;
        width: 70%;
        height: 35vh;
        border-radius: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    #collaborate {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh;
        overflow: hidden;
    }

    #collaborate-header {
        width: 100%;
    }

    #collaborate-header h1 {
        font-size: 4rem;
    }

    #collaborate-header p {
        font-size: 1.25rem;
    }

    
    .collaborate-video {
        margin-block: 0%;
    }

    .collaborate-video iframe {
        text-align: center;
        width: 95%;
        height: 30vh;
        border-radius: 10px;
        padding: 0;
    }
}