/* Welcome To Project Section */
#welcome {
    background-image: url("../../assets/index/welcome_to_project/welcome_frame.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75dvh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1%;
}

#welcome-header {
    color: white;
    padding-right: 10%;
    text-align: start;
}

#welcome-header h1 {
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    max-width: 90%;
    overflow-wrap: wrap;
    font-family: 'Riot Sans', sans-serif;
    line-height: 0.5;
}

#welcome-header p {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 100%;
    overflow-wrap: wrap;
    line-height: 1.5;
    color: white;
}

.video {
    margin-inline: 2%;
    width: 100%;
}

#show-more {
    width: 40%;
    display: block;
    margin-top: 5%;
}

#show-more button {
    width: 100%;
    padding: 18px 32px;
    background-color: #141e37;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

#show-more button:hover {
    background-color: white;
    color: #141e37;
}

.video {
    /* width: 100%; */
    margin-block: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    text-align: end;
    width: 50%;
    height: 40dvh;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 360px) {
    #welcome {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 50dvh; */
        overflow: hidden;
        padding-block: 2%;
    }

    #welcome-header h1 {
        font-size: 3rem;
        line-height: 0.5;
    }

    #welcome-header p {
        font-size: 1rem;
    }

    #show-more {
        width: 100%;
        display: block;
    }

    #show-more button {
        width: 95%;
        padding: 4% 2%;
        background-color: #141e37;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2px;
        font-family: sans-serif;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }

    .video {
        margin-block: 0%;
    }

    .video iframe {
        text-align: center;
        width: 90%;
        height: 20dvh;
        border-radius: 10px;
        padding: 0;
    }
}

@media screen and (min-width: 360px) and (max-width: 620px) {
    #welcome {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        overflow: hidden;
        padding-block: 2%;
    }

    #welcome-header h1 {
        font-size: 3rem;
        line-height: 0.5;
    }

    #welcome-header p {
        font-size: 1rem;
    }

    #show-more {
        width: 100%;
        display: block;
        margin-block: 4%;
    }

    #show-more button {
        width: 95%;
        padding: 4% 2%;
        background-color: #141e37;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2px;
        font-family: sans-serif;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }

    .video {
        margin-block: 0%;
    }

    .video iframe {
        text-align: center;
        width: 95%;
        height: 30vh;
        border-radius: 10px;
        padding: 0;
    }
}

@media screen and (min-width: 620px) and (max-width: 850px) {
    #welcome {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 95dvh;
        overflow: hidden;
        padding-block: 2%;
    }

    #welcome-header h1 {
        font-size: 3rem;
        line-height: 0.5;
    }

    #welcome-header p {
        font-size: 1rem;
        max-width: 90%;
    }

    #show-more {
        width: 45%;
        display: block;
        /* margin-inline: auto; */
        margin-block: 1.5%;
    }

    #show-more button {
        width: 100%;
        padding: 18px 20px;
        background-color: #141e37;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }

    .video {
        margin-block: 0%;
    }

    .video iframe {
        text-align: center;
        width: 90%;
        height: 45vh;
        border-radius: 10px;
        padding: 0;
    }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
    #welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        overflow: hidden;
        padding-block: 2%;
    }

    #welcome-header h1 {
        font-size: 3rem;
        line-height: 0.5;
    }

    #welcome-header p {
        font-size: 1rem;
        max-width: 90%;
    }

    #show-more {
        width: 45%;
        display: block;
        margin-block: 1.5%;
    }

    #show-more button {
        width: 100%;
        padding: 18px 20px;
        background-color: #141e37;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }

    .video {
        margin-block: 0%;
    }

    .video iframe {
        text-align: center;
        width: 90%;
        height: 50vh;
        border-radius: 10px;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) { */
    #welcome {
        /* height: 35dvh; */
        padding-block: 2%;
    }

    #welcome-header h1 {
        font-size: 3rem;
        line-height: 0.5;
    }

    #welcome-header p {
        font-size: 1rem;
        max-width: 90%;
    }

    #show-more {
        width: 45%;
        display: block;
        margin-block: 1.5%;
    }

    #show-more button {
        width: 100%;
        padding: 18px 20px;
        background-color: #141e37;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.5s;
        border: none;
    }

    .video {
        margin-block: 0%;
    }

    .video iframe {
        text-align: center;
        width: 95%;
        height: 30dvh;
        border-radius: 10px;
        padding: 0;
    }
} 