/* specialties css Code */
:root {
    --primary-color: #7c7c7c63;
    --secondary-color: #21252985;
    --background-color: #000;  
    font-family: 'Noto Sans Arabic', sans-serif;
}

/* Reset spacing to remove white gap */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
#header {
    direction: rtl; /* for Arabic alignment */
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 3%;
    width: 100%;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/* Logo */
#logo-container {
  display: flex;
  align-items: center;  
 }

.logo-image {
  width: 70px;   
  height: 70px;
}

.logo-text {
  display: flex;
  flex-direction: column; /* stack words vertically */
}

.logo-text span {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Noto Sans Arabic', sans-serif;
  line-height: 1.2; /* spacing between words */
}



/* Links */
#links {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 5px;
    flex: 1;
    text-align: left;
}

#links a {
    position: relative; /* allows ::after underline positioning */
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 16px;
    transition: 0.3s;
}

#links a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}

/* turquoise underline effect */
#links a::after {
    content: "";
    position: absolute;
    bottom: -15px;  
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #23c2f3;
    border-radius: 15px;  
    transition: width 0s ease;
}

#links a:hover::after {
    width: 102%; 
}

/* active link styling */
#links a.active {
    background-color: #9c9a9a;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
#links a.active::after {
    width: 102%;
}



/* Tips (language + account button) */
#tips {
    display: flex;
    justify-content: flex-start; /* puts it on the left side */
    align-items: center;
    gap:10px;
    margin-right: 45px;  

}

#tips i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 900;
}

#tips i:hover {
    transform: scale(1.2);
}

#tips button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#tips button:hover {
    background-color: var(--primary-color);
}

#user {
  background-color: rgba(255, 252, 252, 0.72);  
  font-size: 12px;
  font-weight: 70;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  gap:8px;
  margin-right: 10px;  
  margin-bottom: 5px;  
  width: 120px;   
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#user .gray-icon {
  color: #5a5a5aff ;
}

/* ===== end of header ===== */


/* ===== News Section Styles ===== */

/* Title section (navy blue background) */
.news-title {
  background-color: #001f3f;  
  color: white;
  text-align: right;
  padding-right: 60px;  
  padding-top: 50px;    
  padding-bottom: 30px;  
}

.news-title h2 {
  font-size: 5.2rem;
  font-weight: bold;
  margin-right: 45px;  
  margin-top: 40px;  
  font-style: italic;
  
}





/* News gallery grid */
.news-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 22px;
  padding: 50px 5%;
  background-color: #f5f5f5;
  direction: rtl;
  justify-items: center;  
}

.news-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 410px;
  cursor: pointer;
  text-align: right;
}

/* Image container keeps fixed height */
.img-container {
  width: 100%;
  height: 215px;         
  overflow: hidden;      
  position: relative;
}

/* Image inside container */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;  
  transform-origin: center center;
  display: block;
}

/* Zoom  the image on hover */
.news-card:hover .img-container img {
  transform: scale(1.1);
}

/* Text below image */
.news-card h3 {
  color: #001830ff;
  font-size: 1.3rem;
  margin: 10px 0 5px;
}

.news-card p {
  color: #0f0b1aff;
  font-size: 1rem;
  margin: 3px 0;
  line-height: 1.5;
 
}

/* Top row: category + date */
.news-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 5px;
}

.news-category {
  color: #40E0D0;
  font-weight: 700;
  font-size: 1rem;
 
}

.news-divider {
  color: #c2bfbf;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;
  align-self: center;
}

.news-date {
  color: #424242ff;
  font-size: 0.9rem;
}





/* start footer */

.site-footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* Social icons */
.footer-icons {
  margin-bottom: 15px;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;  
  color: white;  
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.footer-icons a:hover {
  background-color: #40E0D0; 
  color: #000;  
}

/* Project Name */
.footer-project {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b9b8b8;          
  margin: 40px 0;         
}

/* Copyright */
.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #b9b8b8;         

}

/* Footer Links */
.footer-links {
  font-size: 0.9rem;
  margin-top: 10px;
  margin: 45px 0;         

}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px; /* space between links */
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}
