/* specialties css Code */
 
    :root {
      --primary-color: #7c7c7c63;
      --secondary-color: #21252985;
      --background-color: #111;  
      font-family: 'Noto Sans Arabic', sans-serif;
    }

    /* Reset spacing to remove white gap */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Header Section */
    #header {
      direction: rtl; /* for Arabic alignment */
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
      background-color: var(--background-color);
      padding: 10px 3%;
      width: 100%;
      height: 80px;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 2px solid rgba(51, 51, 51, .25);
      z-index: 1000;
    }

    /* Logo */
    #logo-container {
      display: flex;
      align-items: center;  
    }

    .logo-image {
      width: 70px;   
      height: 70px;
    }

    .logo-text {
      display: flex;
      flex-direction: column;
    }

    .logo-text span {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      font-family: 'Noto Sans Arabic', sans-serif;
      line-height: 1.2;
    }

    /* Links */
    #links {
      display: flex;
      justify-content: left;
      align-items: left;
      gap: 5px;
      flex: 1;
      text-align: left;
      transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    #links a {
      position: relative;
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 500;
      padding: 5px 16px;
      transition: 0.3s;
    }

    #links a:hover {
      background-color: var(--primary-color);
      border-radius: 5px;
    }

    #links a::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 4px;
      background-color: #32C8ff;
      border-radius: 15px;  
      transition: width 0s ease;
    }

    #links a:hover::after {
      width: 100%; 
    }

    #links a.active {
      background-color: rgba(51, 51, 51, .25);
      color: white;
      border-radius: 5px;
      padding: 5px 10px;
    }

    #links a.active::after {
      width: 102%;
    }

    /* Tips (language + account button) */
    #tips {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-right: 45px;  
     }

    #tips i {
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    #tips i:hover {
      transform: scale(1.2);
    }

    #tips button {
      background-color: var(--secondary-color);
      color: white;
      font-size: 16px;
      font-weight: 700;
      padding: 18px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
    }

    #tips button:hover {
      background-color: var(--primary-color);
    }

    #user {
      background-color: rgba(255, 252, 252, 0.72);  
      font-size: 12px;
      font-weight: 700;
      padding: 8px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      gap: 8px;
      margin-right: 10px;  
      margin-bottom: 5px;  
      width: 120px;   
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #user .gray-icon {
      color: #5a5a5aff;
    }

    /*    MENU   */
 #menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 17px; 
  color: rgb(244, 245, 243);
  background-color: rgba(49, 49, 49, 0.76);
  padding:16px;  
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 48px;        
  height: 48px; 

    }
#menu-close {
   display: none;
    font-size: 50px;
    color: #fff;
    background-color: #777575c4;
    cursor: pointer;
    position: relative;
    top: 20px;
    margin-bottom: 25px;
    left: -350px;
    width: 45px;        
    height: 45px; 
    padding: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
 

/* New USER button  */
#menu-user {
    display: none;         
    padding: 14px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

   @media (max-width: 1020px) {
            
    #menu-toggle {
          display: block;
          margin-left: 5px;
                  
              }

#menu-close {
   display: flex;
   
}
              
#links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;  
    padding: 20px;
    text-align: right;
    z-index: 1000;

    /* Gradient: right opaque, left transparent */
    background: linear-gradient(to left, 
                rgba(0,0,0,1) 50%,      /* right half opaque */
                rgba(0,0,0,0.3) 50%);   /* left half transparent */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: width 0.3s ease, background 0.3s ease;
}


      #links.show {
        display: flex !important;
       }

   #links.show #menu-user {
    display: flex;
    width: 48%;  
    background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
    border-radius: 10px;
}
      
      #links a {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
         
      }

     #links a::after {
        display: none;             
       }
       #links a.active {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        width: 48%;

      background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
      border-radius: 10px;

         
}
 
     
      #links a.active::after {
           display: none             }

         #links a:hover {
          width: 48%;
          background-color: var(--primary-color);
           background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
           border-radius: 10px;

       }
    
  #tips {
  display: block;
  position: absolute;
  left: calc(8% + 50px);
  top: 50%;
  transform: translateY(-50%); 
}
#language {
   transform: scale(1.7);
}

#user {
 display: none;
 
}

    }

/* ===== end of header ===== */


/* ===== News Section Styles ===== */

/* Title section (navy blue background) */
.news-title {
  background-color: #001f3f;  
  color: white;
  text-align: right;
  padding-right: 60px;  
  padding-top: 50px;    
  padding-bottom: 30px;  
}

.news-title h2 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-right: -18px;  
  margin-top: 40px;  
  font-style: italic;
  text-align: end;
  
}





/* News gallery grid */
.news-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 22px;
  padding: 50px 5%;
  background-color: #f5f5f5;
  direction: rtl;
  justify-items: center;  
}

.news-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 410px;
  cursor: pointer;
  text-align: right;
}

/* Image container keeps fixed height */
.img-container {
  width: 100%;
  height: 215px;         
  overflow: hidden;      
  position: relative;
}

/* Image inside container */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;  
  transform-origin: center center;
  display: block;
}

/* Zoom  the image on hover */
.news-card:hover .img-container img {
  transform: scale(1.1);
}

/* Text below image */
.news-card h3 {
  color: #001830ff;
  font-size: 1.3rem;
  margin: 10px 0 5px;
}

.news-card p {
  color: #0f0b1aff;
  font-size: 1rem;
  margin: 3px 0;
  line-height: 1.5;
 
}

/* Top row: category + date */
.news-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 5px;
}

.news-category {
  color: #32C7ff;
  font-weight: 700;
  font-size: 1rem;
 
}

.news-divider {
  color: #c2bfbf;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;
  align-self: center;
}

.news-date {
  color: #424242ff;
  font-size: 0.9rem;
}





/* start footer */

.site-footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* Social icons */
.footer-icons {
  margin-bottom: 15px;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;  
  color: white;  
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.footer-icons a:hover {
  background-color: #40E0D0; 
  color: #000;  
}

/* Project Name */
.footer-project {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b9b8b8;          
  margin: 40px 0;         
}

/* Copyright */
.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #b9b8b8;         

}

/* Footer Links */
.footer-links {
  font-size: 0.9rem;
  margin-top: 10px;
  margin: 45px 0;         

}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px; /* space between links */
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}




/* Responsive for small screens */
@media screen and (max-width: 360px) {

  /* News section */
  .news-title h2 {
    font-size: 3rem;
    margin-right: -30px;  

    }

  .news-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* smaller min width */
  gap: 15px;
  padding: 20px 5%;
  direction: rtl;
  justify-items: center; 
   }

  .news-card {
    max-width: 100%;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
  }

  .img-container {
    height: 100%;
  }

  .news-card h3 {
     font-size: clamp(0.7rem, 2vw, 1rem);
  }

  .news-card p, .news-meta {
   
    font-size: clamp(0.6rem, 2vw, 0.8rem);
  }
  .news-category {
  font-size: clamp(0.8rem, 2vw, 1rem);
   
 
}

  .footer-project {
    font-size: 1rem;
    margin: 20px 0;
  }

  .footer-copy, .footer-links {
    font-size: 0.75rem;
    margin: 10px 0;
  }

  .footer-icons a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}







/* Responsive behavior */
 

@media (max-width: 800px) {
    #links {
        width: 100%;
        background: linear-gradient(to left, rgba(0,0,0,1) 60%, rgba(0,0,0,0.3) 40%);
    }
     #links a {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
         
      }

     #links a::after {
        display: none;             
       }
       #links a.active {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        width: 58%;

        background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
        border-radius: 10px;

         
}
 
     
  #links a.active::after {
           display: none
                       }

         #links a:hover {
          width: 58%;
          background-color: var(--primary-color);
           background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
           border-radius: 10px;

       }


              #links.show #menu-user {
             display: flex;
             width: 58%;
            background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
          border-radius: 10px;

       }
}


@media (max-width: 600px) {
    #links {
        width: 100%;
        background: linear-gradient(to left, rgba(0,0,0,1) 80%, rgba(0,0,0,0.3) 20%);
    }
       #links a {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
         
      }

     #links a::after {
        display: none;             
       }
       #links a.active {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        width: 78%;

      background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
      border-radius: 10px;

       
}
 
     
  #links a.active::after {
           display: none
                       }

         #links a:hover {
          width: 78%;
          background-color: var(--primary-color);
           background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
          border-radius: 10px;

       }

       #links.show #menu-user {
             display: flex;
             width: 78%;
              background: linear-gradient(to left, 
                    rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                    rgba(0, 0, 0, 0) 0%);
              border-radius: 10px;
}
}

@media (max-width: 500px) {
    #links {
        width: 100%;
        background: rgba(0,0,0,1); /* fully opaque for very small screens */
    }
       #links a {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
         
      }

     #links a::after {
        display: none;             
       }
       #links a.active {
        padding: 15px;
        font-size: 20px;
        overflow: hidden;
        width: 98%;
        background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
        border-radius: 10px;

         
}
 
     
  #links a.active::after {
           display: none
                       }

         #links a:hover {
          width: 98%;
          background-color: var(--primary-color);
          border-radius: 5px;
          background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
          border-radius: 10px;

       }


          #links.show #menu-user {
    display: flex;
    width: 98%;  
    background: linear-gradient(to left, 
                rgba(102, 100, 100, 0.534)100%,      /* right half opaque */
                rgba(0, 0, 0, 0) 0%);
    border-radius: 10px;
}
}



