body {
  margin: 0px;
  font-family: "Cairo", sans-serif;
   
}

html,
body {
  overflow-x: hidden;
}
:root {
  --primary-color: #7c7c7c63;
  --secondary-color: #21252985;
  --background-color: #111;
  font-family: "Cairo", sans-serif;
}
     
.news-title {
  background-color: #001f3f;
  color: white;
  text-align: right;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.news-title h2 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-right: -18px;
  margin-top: 40px;
  font-style: italic;
  text-align: start;
}



/* News gallery grid */
.news-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 22px;
  padding: 50px 5%;
  background-color: #f5f5f5;
  direction: rtl;
  justify-items: center;
}

.news-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 410px;
  cursor: pointer;
  text-align: right;
}

/* Image container keeps fixed height */
.img-container {
  width: 100%;
  height: 215px;
  overflow: hidden;
  position: relative;
}

/* Image inside container */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform-origin: center center;
  display: block;
}

/* Zoom  the image on hover */
.news-card:hover .img-container img {
  transform: scale(1.1);
}

/* Text below image */
.news-card h3 {
  color: #001830ff;
  font-size: 1.3rem;
  margin: 10px 0 5px;
}

.news-card p {
  color: #0f0b1aff;
  font-size: 1rem;
  margin: 3px 0;
  line-height: 1.5;

}

/* Top row: category + date */
.news-meta {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 5px;
}

.news-category {
  color: #32C7ff;
  font-weight: 700;
  font-size: 1rem;

}

.news-divider {
  color: #c2bfbf;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;
  align-self: center;
}

.news-date {
  color: #424242ff;
  font-size: 0.9rem;
}





/* start footer */

.site-footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* Social icons */
.footer-icons {
  margin-bottom: 15px;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.footer-icons a:hover {
  background-color: #40E0D0;
  color: #000;
}

/* Project Name */
.footer-project {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b9b8b8;
  margin: 40px 0;
}

/* Copyright */
.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #b9b8b8;

}

/* Footer Links */
.footer-links {
  font-size: 0.9rem;
  margin-top: 10px;
  margin: 45px 0;

}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  /* space between links */
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}




/* Responsive for small screens */
@media screen and (max-width: 360px) {
  

  /* News section */
  .news-title h2 {
    font-size: 3rem;
    margin-right: -30px;

  }

  .news-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    /* smaller min width */
    gap: 15px;
    padding: 20px 5%;
    direction: rtl;
    justify-items: center;
  }

  .news-card {
    max-width: 100%;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
  }

  .img-container {
    height: 100%;
    transform: scale(0.9);


  }

  .news-card h3 {
    font-size: clamp(0.7rem, 2vw, 1rem);
  }

  .news-card p,
  .news-meta {

    font-size: clamp(0.6rem, 2vw, 0.8rem);
  }

  .news-category {
    font-size: clamp(0.8rem, 2vw, 1rem);


  }

  .footer-project {
    font-size: 1rem;
    margin: 20px 0;
  }

  .footer-copy,
  .footer-links {
    font-size: 0.75rem;
    margin: 10px 0;
  }

  .footer-icons a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  
 
  .news-gallery {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .news-card {
    flex: 0 0 10%;
    max-width: none;
    scroll-snap-align: start;
  }
}


 

 
  