@media screen and ( min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 10px 15px;
        flex-wrap: wrap;
    }
    
       /* container for globe + menu */
  .mobile-icons {
  display: flex;
  align-items: center;
  gap: 3px;
  position: fixed;
  top: 16px;
  left:30px;
  z-index: 1000;
}
  .globe-mobile {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    padding: 1px;
     
  }
 
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 26px;
  cursor: pointer;
  z-index: 2000;
}

/* The three bars */
.menu-toggle span {
  display: block;
  height: 10px;
  width: 60%;
  background-color: #fff;  
  border-radius: 3px;
  transition: all 0.3s ease;
  
}

/* When active, create the X */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


    .menu-toggle:hover {
        background-color: #f9f9f923;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #000;
        padding: 50px 0;
        gap: 2rem;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .nav-links a {
        padding: 10px  100px;
        width: 100%;
        text-align: center;
      
     }
    
     .dropdown-menu {
    position: static;
    display: none;
    background-color: #111;
    width: 100%;
    margin: 10px auto 0;
     
  }

   .dropdown-menu  li{
margin-bottom: 5%;

  }

  .dropdown.active .dropdown-menu {
    display: block;
       
   }
  .dropdown-menu a:hover {
  background-color: #52525209;
  width: 100%;
 }
 
    
    .logo img {
        width: 50px;
        height: 50px;
    }
    
    .logo span {
        font-size: 18px;
    }
    
     .nav-links .icon.globe {
        display: none;
    }
    
   
}


 
 
 
/* ========== Media Queries للـ Footer ========== */
@media screen and ( min-width: 768px) and (max-width: 1024px) {
    .site-footer {
        padding: 30px 15px;
    }
    
    .footer-project {
        font-size: 1.1rem;
        margin: 30px 0;
    }
    
    .footer-links {
        margin: 35px 0;
    }
    
    .footer-links a {
        margin: 0 10px;
        font-size: 0.85rem;
    }
    
    .footer-copy {
        font-size: 0.85rem;
    }
}

@media screen and  (max-width: 768px)  {

    /* Header */
    .navbar {
        padding: 8px 10px;
    }

    .logo {
        gap: 5px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .logo span {
        font-size: 16px;
    }

 

  

    .mobile-icons {
  display: flex;
  align-items: center;
  gap: 1px;
  position: fixed;
  top: 16px;
  left:15px;
  z-index: 1000;
}
  .globe-mobile {
    display: flex;
    cursor: pointer;
    font-size: 20px;
 margin-left:-20px;      
  }
 
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 26px;
  cursor: pointer;
  z-index: 2000;
}

/* The three bars */
.menu-toggle span {
  display: block;
  height: 10px;
  width: 60%;
  background-color: #fff;  
  border-radius: 3px;
  transition: all 0.3s ease;
  
}

/* When active, create the X */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


    /* Intro */
    .banner {
        height: 40vh;
        padding: 20px;
    }

    .banner h1 {
        margin-top: 15%;
        font-size: 2.5rem;
    }

    .banner p {
        font-size: 0.9rem;
        max-width: 90%;
        margin-top: 5%;
    }

    /* Gooal */

    .goal {
        padding: 30px 15px;
        padding-bottom: 60px;
    }

    .goal h2 {
        font-size: 35px;
    }

    .goals .img {
        width: 250px;
        height: 320px;
    }

    .goals h3 {
        font-size: 1.2rem;
    }

    .goals p {
        font-size: 0.9rem;
    }

    /* Specialties */

    .specialties {
        text-align: center;
        align-items: center;
        margin-right: -20px;

    }

    .text h2 {
        font-size: 2rem;
    }

    .text p {
        font-size: 0.5rem;
        margin-right: 10px;
    }

    .image-3d {
        width: 250px;
        height: 250px;
    }

    .image-container h4 {
        font-size: 1.5rem;
    }

    .image-container>p:first-of-type {
        font-size: 1rem;
    }

    .image-container>p:last-of-type {
        font-size: 0.5rem;
    }

    .icons img {
        width: 70px;
        height: 70px;
    }

    .btn {
        width: 95%;
        display: block;
        margin: 20px auto;
        height: 70px;
        text-align: center;
    }

    .specialties-navigation {
        display: flex;
        /* gap: 15px; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-top: -10px;
        margin-bottom: 40px;
        direction: ltr;
        margin-left: 20px;
    }

    .nav-arrow1 {
        color: #426dda;
        border: none;
        width: 55px;
        height: 55px;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .nav-arrow1:hover:not(:disabled) {
        transform: scale(1.1);
    }

    .nav-arrow1:active {
        transform: scale(0.95);
    }

    .nav-arrow1:disabled {
        opacity: 0.3;
        cursor: not-allowed;
        transform: none;
        display: flex;
    }

    /* السهم النشط */
    .nav-arrow1.active {
        color: #c2b8b885;
        /* السهم اللي دايس عليه لونه أبيض */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(15px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Capabilities */

    .capabilities {
        padding: 50px 15px;
    }

    .capabilities-container {
        margin-top: 150px;
    }

    .cap-content h2 {
        font-size: 2.5rem;
    }


    .cap-content>p {
        font-size: 1rem;
    }

    .cap-main-image {
        height: 200px;
        margin-left: 25px;
    }

    .cap-sub-title h3 {
        font-size: 1.5rem;
    }

    .cap-sub-title p {
        font-size: 0.9rem;
        margin-left: 30px;
    }

    .cap-icon {
        width: 60px;
        height: 60px;
    }

    .capabilities-navigation {
        display: flex;
        /* gap: 15px; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-bottom: -1550px;
        /* margin-bottom: 40px; */
        direction: ltr;
        /* margin-right:50px; */
    }

    .nav-arrow2 {
        color: #426dda;
        border: none;
        width: 20px;
        height: 20px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .nav-arrow2:hover:not(:disabled) {
        transform: scale(1.1);
    }

    .nav-arrow2:active {
        transform: scale(0.95);
    }

    .nav-arrow2:disabled {
        opacity: 0.3;
        cursor: not-allowed;
        transform: none;
        display: flex;
    }

    /* السهم النشط */
    .nav-arrow2.active {
        color: #c2b8b885;
        /* السهم اللي دايس عليه لونه أبيض */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(15px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Experience */

    .experience {
        padding: 40px 20px;
        gap: 40px;
    }

    .experience__text-continer h2 {
        font-size: 2rem;
    }

    .experience__img-continer img {
        width: 350px;
        height: 350px;
    }

    .experience__img-continer::before {
        width: 210px;
        height: 210px;
        border-width: 12px;
        top: 45%;
        left: 52%;
    }

    .experience__img-continer span {
        font-size: 1.4rem;
    }

    .experience__img-continer p {
        font-size: 0.9rem;
    }

    .icons-tab {
        gap: 20px;
    }

    .icon-tab img {
        width: 50px;
        height: 50px;
    }

    .icon-tab p {
        font-size: 0.8rem;
    }

    /* Image Box */

    .imgs__box {
        padding: 40px 15px;
        gap: 25px;
        align-items: center;
    }

    .imgs__box-container img {
        height: 350px;
    }

    .imgs__box-container p {
        font-size: 0.9rem;
    }

    .last-navigation {
        display: flex;
        margin-left: 160px;
        align-self: flex-start;
        margin-top: -60px;
    }

    /* Footer */

    .site-footer {
        padding: 25px 10px;
    }

    .footer-icons a {
        width: 35px;
        height: 35px;
        margin: 0 5px;
        font-size: 16px;
    }

    .footer-project {
        font-size: 1rem;
        margin: 25px 0;
    }

    .footer-links {
        margin: 30px 0;
    }

    .footer-links a {
        display: block;
        margin: 8px 0;
    }

    .footer-copy {
        font-size: 0.8rem;
    }
}



/*new one */
@media screen and (max-width: 768px) {
 

  .menu-toggle {
    display: flex;
    margin-left: auto;
    margin-right: 30%;
    width: 82px;
  }

  .menu-toggle:hover {
    background-color: #f9f9f917;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    gap: 1.7rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 15px;
    width: 100%;
    text-align: center;
  }

  .dropdown-menu {
    position: static;
    display: none;
    background-color: #111;
    width: 90%;
    margin: 10px auto 0;
  }
    .dropdown-menu  li{
     margin-bottom: 5%;

  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  /* hide desktop globe icon */
  .nav-links .icon.globe {
    display: none;
  }

  /* show mobile globe icon */
  .globe-mobile {
    display: flex;
    margin-right:10%;
  }
}

