.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  direction: rtl;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1px;
  direction: ltr;
  
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
 
  }
  

/* الروابط */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 10px 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 12px;
  /* علشان الخلفية تظهر حوالين النص */
  border-radius: 4px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #32C8FF;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  background-color: #f9f9f919;
  color: white;
}

.nav-links a:hover::after {
  width: 100%;
}

/* القوائم المنسدلة */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #222;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  display: none;
  min-width: 150px;
}

.dropdown-menu li {
  padding: 8px 15px;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
 }

 

.dropdown:hover .dropdown-menu {
  display: block;
}

/* أيقونة الكرة الأرضية */
.icon.globe {
  cursor: pointer;
  font-size: 18px;
}

/* حسابي */
.account {
  background-color: #111;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #333;
}

.account a {
  color: #a0c4ff;
}

/* زر القائمة المنسدلة للجوال */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
 
  font-size: 17px; 
  color: rgb(244, 245, 243);
  background-color: rgba(49, 49, 49, 0.76);
   border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 50px;        
  height: 46px; 
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}

/* أيقونة الكرة الأرضية للشاشات الصغيرة */
.globe-mobile {
  display: none;
  cursor: pointer;
  font-size: 22px;
  padding: 8px;
  margin-left: 15px;
}