 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans Arabic', sans-serif;
  color: white;
  direction: rtl;
  background-image: url("../assets/join/bg.jpeg");
  position: relative;
  z-index: 0;
 }

body::after {
  content: "";
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  height:120%;            
  background: rgba(5, 15, 44, 0.425);  
  z-index: -1;        
  pointer-events: none;
}


header, main {
  position: relative;
  z-index: 1;
}
main {
  flex: 1 0;  
}


/* Content section */
 .content {
  position: relative; 
  min-height: 100vh; 
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  padding: 1rem; 
     }

/*  logo */
#logo-container {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 1000;
}


.logo-image {
  width: 55px;
  height: 55px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.logo-text span {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}


/* start footer */

.site-footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Noto Sans Arabic', sans-serif;
   margin-top: 1rem; 
   flex-shrink: 0;
}

/* Social icons */
.footer-icons {
  margin-bottom: 15px;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;  
  color: white;  
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.footer-icons a:hover {
  background-color: #d1dbda; 
  color: #000;  
  }

/* Project Name */
.footer-project {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b9b8b8;            
  margin: 40px 0;         
}

/* Copyright */
.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #b9b8b8;            
}

/* Footer Links */
.footer-links {
  font-size: 0.9rem;
  margin-top: 10px;
  margin: 45px 0;         

}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;  
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: -50px;

}

.card {
  margin-top: 0;
  background-color: #fdfdfd; 
  border-radius: 15px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  max-width: 700px;
  width: 100%;
  direction: rtl;
  max-height: calc(100vh - 50%);
  overflow-y: auto;
  border-top: 15px solid #74aeda;
  
}
 
h2 {
  font-size: 1.4rem;
  color: #141e73;
  margin: 20px 0 15px;
  text-align: start;
}

.b-title{
  font-size: 2rem;
  margin-bottom: 10px;
  color: #040616;
  }

 
.form-label {
   color: #1c4185;
   font-weight: normal;
    font-size: 1.3rem;
  }

 .form-label-error
 {
   color: #202124;
   font-weight: normal;
   font-size: 1.3rem;
 }

 .form-label-gender
 {
   color: #2d325f;
   font-weight: bold;
   font-size: 1.3rem;
 }
.bl-line {
  margin-top: 3%;
  color: #bb1616;
  margin-bottom: 2%;
  height: 2px;
  align-items: center;
  width: 100%;
}

/* Input boxes */
.input-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.918);
  border: 2px solid #a8a8a8be;
  border-radius: 6px;
  padding: 4px 7px 20px ;
  margin-bottom: 16px;
  text-align: start;
}

.input-box.red {
   border: 2px solid  #fa7f7f;
}

.input-box label {
  font-weight: normal;
  margin-bottom: 0px;
  text-align: right;  
  padding-right: -5px; 
}

.input-box input {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(15, 15, 15);
  padding: 8px 0;
  font-size: 1.1rem;
   
 }
 
  .underline .input-box {
  width: 100%; 
  height: 20px;       
  display: block;
  position: absolute;
  pointer-events: none;
   
  }

/* Radio buttons */
.radio-group {
  display: flex;
  margin-top: 4px;
  flex-direction: column; 
  gap: 4px;
  margin-bottom: -15px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-group input[type="radio"] {
  accent-color: #2aa3ff;
  width: 14px;       
  height: 14px;      
  transform: scale(1.5);
}
 
/*   select box */
   .select-box {
    padding: 5px 17px 20px ;
    position: relative;
    margin-bottom: 0;
    direction: rtl;
    padding-bottom: 2%;
    margin-top:2% ;
    background-color: rgba(255, 255, 255, 0.918);
    border: 2px solid #a8a8a8be;
    border-radius: 6px;
    text-align: start;
  }

  .select-label {
      color: #1c4185;
      font-weight: normal;
      font-size: 1.3rem;
      margin-bottom: 10px;
      display: block; 
  }
 
 
  /*   Button   */
  .select-btn {
    width: 50%;
    border: 1px solid #caced1;
    padding: 12px 10px;
    font-size: 14px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;  
  }
 

  /*   Dropdown   */
  .dropdown {
     width: 350px;
    list-style: none;
    padding: 17px 0;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.07);
    display: none;
    position: relative;
    z-index: 5;
    direction: rtl;
    margin-bottom: 5px;  
    margin-top:calc(91% - 100%);
    margin-right:calc(100% - 98%);
    text-align: start;
    
  }

  .dropdown.open {
    display: block;
  }

  .dropdown li {
    padding: 16px 14px;
    cursor: pointer;
    margin-top: 1.5%;
    color: #19191a;
  }

.dropdown li.disabled {
  color: #7c7d7e;
  background-color: #edf4fd;
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none; 
  font-size: 11px; 
  margin-top: -3%;
  position: relative;  
}

/*  line under the disabled item */
.dropdown li.disabled::after {
  content: "";
  position: absolute;   
  left: 0px;
  right: 0px;
  height: 0.5px;
  bottom: -5px;
  background-color: rgb(179, 179, 179);   
  opacity: 0.6;             
}

.dropdown li.selected {
  background-color: #f2f2f2;
  border-radius: 0px;
  font-weight: bold;
}

 .dropdown  li:hover,
 .dropdown  li:focus {
  background-color: #eef4fd;
  border-radius: 0px;
}

  .second-box {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 14px;
    background: #fff;
    margin-top: 20px;
  }
  .arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #948f8f;
  transition: transform ease-in-out 0.3s;
  margin-top: 2%;
}
 .select-btn.open .arrow {
  transform: rotate(180deg);
    }
 

/* Footer with next button and progress bar */
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
 }

.next-btn {
  background-color: #3f9ce4;
  color: white;
  border: none;
  padding: 4px 25px;
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background 0.3s;
}

.next-btn:hover {
  background-color: #659df2;
}

/* Progress bar */
.page {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;

    
}

.page.active {
  opacity: 1;
  visibility: visible;
  position: relative;  
  overflow: hidden;
 }



.progress {
  position: relative;
  height: 15px;
  background-color: #456aa7;
  border-radius: 14px;
  overflow: hidden;
  width: 260px;
  margin: 15px auto;
  overflow: hidden;
 
}

 

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;  
  background-color: #141e37;
  border-radius: 14px;
  transition: transform 0.8s ease-in-out;
  border: 1px solid black;
}

.progress-b {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 54%;  
  background-color: #456aa7;
   border-radius: 14px;
  transition: transform 0.1s ease-in-out;
  z-index: 1;
    overflow: hidden;


  }
 
 
.page-number {
  position: sticky;
  font-size: 1.2rem;
  color: #201e3b;
  justify-items: center;
  font-weight: normal;
   
   
 }

 
.error-wrapper {
  display: flex;           
  align-items: left;     
  gap: 5px;               
  margin-top: 4px;      
}

.error-icon {
  display: inline-flex;
  color: #d13221; 
  padding-right: -5px;
  font-weight: bolder;
             
 }

.error-message {
  color: #dc463c;
  font-size: 13px; 
  font-weight: bold;
  margin-top: 2px;
  padding-right: 2px;
 }


 
 /* mobile screens */
@media (max-width: 890px) {

  html, body {
    font-size: 15px;
    background-position: center;
    background-size: cover;
  }
  body::after {
  content: "";
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  height:90%;            
  background: rgba(5, 15, 44, 0.425);  
  z-index: -1;        
  pointer-events: none;
 
}

  /* Logo section */
  #logo-container {
    top: 0px;
    right: 10px;
    padding: 10px;
    position: absolute;
  }

  .logo-image {
    width: 25px;
    height: 25px;
  }

  .logo-text span {
    font-size: 0.7rem;
  }
 
  .content {
    padding: 1rem;
    justify-content: flex-start;
    margin-bottom: -25%;
  }

  /* Form container */
  .form-container {
    padding: 10px;
    margin-top: 10px;
    
  }

  .card {
    width: 98%;
    height: 98%;
    padding: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-top-width: 8px;   
  }

  h2 {
    font-size: 1.2rem;
  }

  .b-title {
    font-size: 1.8rem;
  }

  .form-label,
  .form-label-error,
  .form-label-gender {
    font-size: 1.1rem;
  }

  .input-box {
    padding: 8px 16px 16px;
  }
    .underline .input-box {
  width: 100%; 
  height: 50px;       
  display: block;
  position: absolute;
  pointer-events: none;
   
  }

  .input-box input {
    font-size: 1.3rem;
  }

  /* Select box */
  .select-box {
    padding: 10px;
  }

  .select-btn {
    width: 100%;
    font-size: 0.95rem;
    padding: 10px;
  }

  .dropdown {
    width: 100%;
    position: relative;
    margin-top: 8px;
    margin-right: 0;
  }

  .dropdown li {
    font-size: 0.95rem;
    padding: 12px 10px;
  }

  .arrow {
    margin-top: 1%;
  }

  /* Radio group */
  .radio-group {
    flex-direction: column;
    gap: 6px;
  }

  .radio-group label {
    font-size: 1rem;
  }

  /* Footer */
  .site-footer {
    padding: 25px 10px;
  }

  .footer-icons a {
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin: 0 5px;
  }

  .footer-project {
    font-size: 1rem;
    margin: 20px 0;
  }

  .footer-links {
    font-size: 0.85rem;
    margin: 25px 0;
  }

  /* Buttons & footer elements */
  .form-footer {
     gap: 15px;
    margin: 20px 0;
     display: flex;
  }

  .next-btn {
    width: 10%;
    font-size: 1.1rem;
    padding: 10px;
  }

  /* Progress bar */
  .progress {
    width: 40%;
    height: 10px;
  }

  .page-number {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  html, body {
    font-size: 14px;
  }
   

  .logo-image {
    width: 10px;
    height: 10px;
  }

  .select-btn {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  .b-title {
    font-size: 1.4rem;
  }

  .form-label,
  .form-label-error,
  .form-label-gender {
    font-size: 1rem;
  }
  .card {
    border-top-width: 6px;
    border-radius: 10px;
  }
    .input-box {
    padding: 4px 8px 16px;
     
  }
    .underline .input-box {
  width: 100%; 
  height: 50px;       
  display: block;
  position: absolute;
  pointer-events: none;
   
  }

  .input-box input {
    font-size: 1rem;
  }
    .next-btn {
    margin-right: 7%;
    width: 15%;
    font-size: 1rem;
    padding: 10px;
  }
   .page-number {
    font-size: 1rem;
    text-align: center;
    margin-right: 10%;
  }



}



 
