/* overview css code */

/* إعدادات عامة */
body {
  margin: 0;
  font-family: "Cairo", sans-serif;

}

html,
body {
  overflow-x: hidden;
}
/* start footer */
.site-footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* Social icons */
.footer-icons {
  margin-bottom: 15px;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.footer-icons a:hover {
  background-color: #32C7ff;
  color: #000;
}

/* Project Name */
.footer-project {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b9b8b8;
  margin: 40px 0;
}

/* Copyright */
.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #b9b8b8;

}

/* Footer Links */
.footer-links {
  font-size: 0.9rem;
  margin-top: 10px;
  margin: 45px 0;

}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  /* space between links */
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Coming Soon Alert */

#coming-soon-alert {
  background-color: orange;
  color: white;
  display: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 20%;
  position: absolute;
  top: 8%;
  left: 1%;
  font-size: 1.1rem;
  z-index: 1000;
  border-radius: 5px;
}

#coming-soon-alert i {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #coming-soon-alert {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #coming-soon-alert {
    width: 60%;
    left: 2%;
  }
}